<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BarCodePrint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BarCodePrint.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>system</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>testdb</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
        </BarCodePrint.Properties.Settings>
    </userSettings>
</configuration>